.editform{
    margin-left: 250px; /* Adjust according to sidebar width */
    padding: 20px;
    margin-right: auto;
    box-sizing: border-box;
}

.eventeditform {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto 20px auto;
    background-color: #f4f4f4;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: calc(100% - 270px);
}

.eventeditform h2 {
    color: #e91e63;
    margin-bottom: 20px;
    text-align: center;
}

.eventeditform label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.eventeditform input,
.eventeditform textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.eventeditform textarea {
    resize: vertical;
    height: 100px;
}

.eventeditform button.submit-btn {
    color: #ffffff;
    background-color: #e91e63;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto;
}

.eventeditform button.submit-btn:hover {
    background-color: #d81b60;
}

.colored-arrow {
    color: #e91e63;
    font-weight:bolder;
    font-size: 40px; 
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  .modal-content img{
    width: 100px;
    height: 100px;
  }
  

/* Responsive adjustments */
@media (max-width: 768px) {
    .eventeditform {
        width: calc(100% - 40px); /* Adjust width for smaller screens */
    }
}